[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "==6.7.0"
numpy = "==1.22.1"
pandas = "==1.4.0"
matplotlib = "==3.5.1"
seaborn = "==0.11.2"
scikit-learn = "==1.0.2"
mlflow = "==1.24.0"

[dev-packages]
black = "==21.12b0"
pylint = "==2.14.3"
pytest = "==7.1.0"
mypy = "==0.941"

[requires]
python_version = "3.10"
